.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
  justify-content: center;
}

.pagination > .page-item > .page-link {
  border: 1px solid var(--dark);
  color: #212529;
}

.pagination > .page-item > .page-link:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary);
}

.pagination > .page-item.active > .page-link {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: white;
}
